@media (min-width: 768px) {
    #arrival {
        width: 100px;
    }
    #departure {
        width: 100px;
    }
}

@media (min-width: 1200px) {
    .list-group{
      width: 200px;
      display: -webkit-box !important;
    }   
}

.label_annonce {
    float: left;
    color: black;
    font-weight: bold;
}
  
.service {
    color: black;
    font-weight: bold;
    margin-top: 15px;
}
  
.equipment {
    color: black;
    font-weight: bold;
    margin-top: 15px;
}
  
.type {
    color: black;
    font-weight: bold;
    margin-top: 15px;
}
  
.title_form {
    margin-top: 20px;
    text-align: center;
    color: #1565c0;
    font-family: Open Sans,sans-serif;
    font-size: 3rem;
    font-weight: bold !important;
}
  
.hr_title {
    background-color:  #1565c0; 
    height: 1px;
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 10px;
    margin-bottom: 40px;
}
  
#form_annonce {
    border-radius: 6px;
    box-shadow: 0 0.5em 1em -0.125em rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.02);
}
  
#button_annonce {
    margin-top: 20px;
    margin-bottom: 20px;
}

.label_login {
    float: left;
    color: black;
    font-weight: bold;
}

.label_register {
    float: left;
    color: black;
    font-weight: bold;
}

.title_store {
    color: black;
    font-weight: bold;
    font-size: 18px;
}

[data-title]:hover:after {
    opacity: 1;
    transition: all 0.1s ease 0.1s;
    visibility: visible;
}

[data-title]:after {
    content: attr(data-title);
    background-color: #f5f4ed;
    color: #111;
    font-size: 12px;
    font-family: Segoe UI;
    position: absolute;
    padding: 5px 10px;
    bottom: 26px;
    right: 0;
    white-space: nowrap;
    box-shadow: 3px 3px 10px rgba(0,0,0,.2);
    opacity: 0;
    border: 1px solid #111111;
    border-radius: 3px;
    z-index: 99999;
    visibility: hidden;
}

[data-title] {
    position: relative;
}

#alert_annonce {
    margin-right: auto;
    margin-left: auto;
}

.title_equipement {
    font-weight: bold;
    margin-top: 10px;
}
